<div class="container-fluid text-secondary">
    <section class="viewportHalfHeight d-flex justify-content-md-center align-items-center">
        <img class=" img-fluid" src="assets/images/title.png">
    </section>
    <section class="d-flex justify-content-md-center align-items-top">
        <div class="col-lg-2  col-md-3  col-sm-6"> {{login-component}} </div>
        <div class="col-lg-2 col-md-3 col-sm-6">{{login-form}}</div>
    </section>
</div>