<div class="container-fluid text-secondary">
    <section class="viewportHalfHeight d-flex justify-content-md-center align-items-center">
        <img class=" img-fluid" src="assets/images/title.png">
    </section>
    <section class="viewportHalfHeight d-flex justify-content-md-center align-items-top">
        <div class="col-sm-2"> {{login-component}} </div>
        <div class="col-sm-2">{{login-form}}</div>
    </section>
</div>