@import "variables";

.test{
    background-color: red;
    // display: inline-block;
}
.test2{
    background-color: green;
    // display: inline-block;
}

.no-margins{
    margin:0;
}

.button-color{
    background-color: $buttonPrimaryColor;
    color: white;
}

.viewportHalfHeight{
    height:$halfViewPort;
}

.margin-top-small{
    margin-top: $marginTopSmall;
}