<section class="  ">
    <div class="">
        <p class = "text-center">Nu stiu ce sa scriu!</p>
    </div>
    <div class="text-center" {{action "onLoginWithFacebook"}}>
        <img  class="img-fluid" src="assets/images/facebook-login.png ">
    </div>
</section>