<section class="  ">
    <div class="text-center">
        <p class="text-center">Sign in with your account or register</p>
        <img class="img-fluid test2" {{action "onLoginWithFacebook"}} src="assets/images/facebook-login.png">
        <p class="text-center no-margins margin-top-small">If you don't own an account, Register!</p>
       {{#link-to "register"}}
        <button type="button" class="btn btn-default margin-top-small button-color">Regiser</button>
        {{/link-to}}
    </div>
</section>