<form>
    <div class="form-group">
        <label for="usr">Name:</label>
        <input type="text" class="form-control" id="usr">
    </div>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd">
    </div>
    <div class="row justify-content-sm-center ">
    <button type="button" class="btn btn-default margin-top-small button-color" {{action "login"}}>Login</button>
    </div>
</form>